<div class="contactus">
            <div class="container pt-4 pb-4">
                <div class="row">
                    <div class="col-md-3 mb-4">
                        <h5 class="title" style="color: #444444;">Our Content</h5>
                        <li><a href="/resources" target="_blank">Resources</a></li>
                        <li><a href="/blogs" target="_blank">Blogs</a></li>
                        <li><a href="/contests/ongoing" target="_blank">Ongoing Contests</a></li>
                        <li><a href="/contests/upcoming" target="_blank">Upcoming Contests</a></li>
                    </div>

                    <div class="col-md-3 mb-4">
                        <h5 class="title" style="color: #444444;">Contact</h5>
                        <li><a href="mailto:dsckiet@gmail.com" target="_blank">dsckiet@gmail.com</a></li>
                        <li><a href="http://medium.com/@dsckiet" target="_blank">medium.com/@dsckiet</a></li>
                        <li><a href="http://facebook.com/dsckiet/" target="_blank">fb.me/dsckiet</a></li>
                        <li><a href="http://instagram.com/dsckiet/" target="_blank">instagram.com/dsckiet</a></li>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center" style="color: #fff; font-size: 14px; padding: 8px; background: #4C4A78;">
            <p style="margin: 0; padding: 0;">Designed and Developed by DSC KIET</p>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>