<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
  <title>KNOWLEDGE SHARING DIRECTORY</title>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <link rel="shortcut icon" href="img/resources-favicon.jpg">
  <!-- Author Meta -->
  <meta name="author" content="DSC KIET">
  <!-- Meta Description -->
  <meta name="description" content="KSD">
  <!-- Meta Keyword -->
  <meta name="keywords" content="KSD, DSC, KIET">
  <!-- meta character set -->
  <meta charset="UTF-8">
  <!-- Site Title -->
  
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
  
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link rel="stylesheet" href="css/linearicons.css" type="text/css">
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="css/nice-select.css" type="text/css">
  <link rel="stylesheet" href="css/animate.min.css" type="text/css">
  <link rel="stylesheet" href="css/owl.carousel.css" type="text/css">
  <link rel="stylesheet" href="css/main.css" type="text/css">
</head>

<body background="./img/dark.png">
    <%include ../partials/navbar%>
    <%include ../partials/messages%>

 