   <nav class="navbar navbar-expand-lg navbar-light bg-light" style="box-shadow: 2px 0px 6px #707070; background: #fff!important;">
        <div class="container">
            <a class="navbar-brand" style="font-weight: 700;" href="#">college knowledge</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto nav justify-content-end custom_nav" style="width: 100%;">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blogs">Blogs</a>
                    </li>
                     <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Contests
                         </a>
                         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                             <a class="dropdown-item" href="/Contests/upcoming">Upcoming Contests</a>
                             <div class="dropdown-divider"></div>
                             <a class="dropdown-item" href="/contests/ongoing">Ongoing Contests</a>
                         </div>
                     </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/resources">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <% if(user && user.role=='admin'){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin Dashboard</a>
                    </li>
                    <%} if (user){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/logout">Sign Out</a>
                    </li>
                    <%} else{ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/register">Sign Up</a>
                    </li>
                    <%}%>
                </ul>
            </div>
        </div>
    </nav>