<section class="header-top">
    <div class="container box_1170">
      <div class="row align-items-center justify-content-between">
      </div>
    </div>
  </section>

  <!-- Start header Area -->
  <header id="header" style="padding: 0px; margin: 0px;">
    <div class="container box main-menu">
      <div class="row align-items-center justify-content-center d-flex ">
        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li class="menu-active"><a href="/" style="font-size: 16px;">HOME</a></li>
            <li><a href="/blogs" style="font-size: 16px;">BLOGS</a></li>
            <li><a href="/resources" style="font-size: 16px;">RESOURCES</a></li>
            <li class="menu-has-children"><a href="" style="font-size: 16px; margin-left: 5px;">CONTESTS</a>
              <ul>
              <li><a href="/contests/ongoing" style="font-size: 16px;">ONGOING</a></li>
            <li><a href="/contests/upcoming" style="font-size: 16px;">UPCOMING</a></li>
              </ul>
            </li>
            <li><a href="/contact" style="font-size: 16px;">CONTACT</a></li>
            <% if(user && user.role=='admin'){ %>
            <li><a href="/admin" style="font-size: 16px;">ADMIN DASHBOARD</a></li>
            <%} if (user){ %>
            <li><a href="/users/logout" style="font-size: 16px;">LOGOUT</a></li>
            <%} else{ %>
            <li><a href="/users/login" style="font-size: 16px;">LOGIN</a></li>
            <li><a href="/users/register" style="font-size: 16px;">SIGNUP</a></li>
            <%}%>
          </ul>
        </nav>
      </div>
    </div>
    
    
  </header>