

<div class="form-group" style="margin-bottom: 0px;">
  <form class="form" action="/resources" method="post">
  <input type="checkbox" value="book" name="type[]">book<br>
  <input type="checkbox" value="video" name="type[]">video<br>
  <input type="checkbox" value="article" name="type[]">article<br>
  <input type="checkbox" value="web" name="category[]">web<br>
  <input type="checkbox" value="android" name="category[]">android<br>
  <input type="checkbox" value="ml" name="category[]">ml<br>
  
  <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>

<% include ./partials/footer %>