<% include ../partials/header %>

    <div class="fluid-container" style="padding-bottom: 0;">
        <div class="container">
            
            <div class="jumbotron header mt-4">
                <h3 class="title_home">Welcome to college knowledge</h3>
                <p class="desc">We always keep you ahead! Learn and Share your experiences with us.</p>
            </div>

            <div class="row pb-5">
                <div class="col-lg-8 col-sm-12 col-md-8 pt-2">
                    <h1 class="title main__title">Code with the <span class="highlight">programmers</span>.</h1>
                    <p class="description">You can easily see the live contest and upcoming contest of different
                        platform all together here. Take part in coding challenges, crack the leaderboard and groom your skills
                        Meanwhile, keep taking part in DSC's coding challenges and get chance to win some swags and have your name on our website!
                        <br><br>
                        Buckle up and Bear Down!
                    </p>

                    <a href="/contests/upcoming" class="btn btn-primary prime_btn">Upcoming Contests</a>
                    <a href="/contests/ongoing" class="btn btn-outline-info sec_btn">Ongoing Contests</a>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 pt-2">
                    <img class="logo coding-mojo" src="./assets/images/hackerrank.png" width="100%"
                        alt="developer-student-clubs-kiet">
                </div>
            </div>

            <div class="row pb-5">
                <div class="col-lg-4 col-md-4 col-sm-12 pt-2">
                    <img class="logo" src="./assets/images/img.png"
                        alt="developer-student-clubs-kiet">
                </div>

                <div class="col-lg-8 col-sm-12 col-md-8 pt-2">
                    <h1 class="title main__title">Learn <span class="highlight">faster and better</span> than ever.</h1>
                    <p class="description">Are you in search of relevant, mobile, self paced and personalized content?
                        This need is fulfilled here; where students can learn at their own comfort and requirement. So,
                        what are you waiting for?
                    </p>

                    <a href="/resources" class="btn btn-primary prime_btn">Explore Resources</a>
                    <!-- <a href="#" class="btn btn-outline-info sec_btn">Ongoing Contests</a> -->
                </div>
            </div>


            <div class="row pb-5">
                <div class="col-lg-8 col-sm-12 col-md-8 pt-2">
                    <h1 class="title main__title">Stay updated with <span class="highlight">Study Hack Blogs</span>.</h1>
                    <p class="description">This section is where you will find top study tips and tricks to help you learn how to study smarter and improve your grades. Enhance your study skills now!
                    </p>
                    <a href="/blogs" class="btn btn-primary prime_btn">Explore Blogs</a>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 pt-2">
                    <img class="logo coding-mojo" src="./assets/images/hackerrank.png" width="100%"
                        alt="developer-student-clubs-kiet">
                </div>
            </div>
        </div>
        
        <div class="about_kiet">
            <div class="container pt-4 pb-4">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <h5 class="title" style="color: #fff;">About us</h5>
                        <p class="description" style="color: #fff;">
                            Developer Student Club KIET is inspired by Google Developers Family. We started our journey
                            in
                            Feb 2019. We try to engage student developers through our hack events, codelabs and meetups.
                            The
                            motive is to create a local ecosystem of programmers & hackers in and around the Campus. The
                            technology awareness is main goal for first few years of the group.
                        </p>
                        <a href="https://dsckiet.tech" class="btn btn-outline-dark custom_btn" style="font-weight: 400;">Visit us at dsckiet.tech</a>
                    </div>
                    <div class="col-md-3 col-sm-12 pt-5">
                        <img src="./assets/images/dsc.png" class="coding-mojo" width="100%" alt="">
                    </div>
                </div>
            </div>
        </div>

<% include ../partials/footer %>