<% include ../partials/header %>
<style>
	body{
		overflow-x: hidden;
	}
</style>

<div class="container">
	<div class="card m-5">
		<div class="row col-lg-12">
			<div class="col-lg-4" style="padding: 0;">
				<img src="img/posts/carousel/image.jpg" width="100%" alt="">
			</div>

			<div class="col-lg-4" style="padding: 0;">
				<img src="img/posts/carousel/image.jpg" width="100%" alt="">
			</div>

			<div class="col-lg-4" style="padding: 0;">
				<img src="img/posts/carousel/image.jpg" width="100%" alt="">
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>