<% include ../partials/header %>

    <div class="fluid-container" style="padding-bottom: 0;">
        
        <div class="about_kiet">
            <div class="container pt-4 pb-4">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <h5 class="title" style="color: #fff;">Blogs</h5>
                        <p class="description" style="color: #fff;">
                            This section is where you will find top study tips and tricks to help you learn how to study smarter and improve your grades. Enhance your study skills now!
                        </p>
                    </div>
                </div>

                <div class="row">
                <%if(blogs.length!=0){
				for(var i=0; i<blogs.length; i++) { %>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="card blog__card" style="padding: 16px;">
                            <h6 class="title"><%=blogs[i].title%></h6>
                            <span class="event_date"><%= blogs[i].category%></span>
                            <p class="description">
                                <%= blogs[i].details.slice(0,250)%>...
                            </p>
                            <a class="btn-more text-center" href="/blogs/view/<%= blogs[i]._id%>">See More</a>
                        </div>
                    </div>
                    <%}} else{ %>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="card blog__card" style="padding: 16px;">
                            <h6 class="title">No Blogs!!</h6>
                            
                        </div>
                    </div>
                    <%}%>
                </div>

                <br>

                <!-- filter -->
                <div class="card p-3">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-12">
                            <h6 class="title">Category</h6>
                            <form action="/blogs" method="post">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="web" name="category[]">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Web Development
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="android" name="category[]">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Android Development
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="ml" name="category[]">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Machine Learning
                                    </label>
                                </div>
                                <button class="row btn prime_btn" type ="submit">Apply Filter</button>
                            </form>
                            <br>

                        </div>

                    </div>
                </div>

            </div>
        </div>


<% include ../partials/footer %>
