<%include ./head%>
    <div class="main" style="padding-bottom: 0px; padding-top: 50px;">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form" onSubmit = "return checkPassword(this);" action="/users/register">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email" required>
                            </div>
                            <div class="form-group">
                                <label for="field"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <select name="field" style="padding-left:50px; padding-right:35px; margin-left:20px;">
                                  <option value="admin">Admin</option>
                                  <option value="student">Student</option>
                                </select>
                            </div>
                            <div class="form-group"> 
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="password" placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="password2" id="password2" placeholder="Repeat your password" required>
                            </div>
                            <div class="form-group" style="margin-bottom: 0px;">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term">
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register" style="margin-top: 5px;">
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="/signup-image.jpg" alt="sign up image"></figure>
                        <a href="/users/login" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

  <%include ./footer%>
