<% include ../partials/header %>

    <div class="fluid-container" style="padding-bottom: 0;">
        
        <div class="about_kiet">
            <div class="container pt-4 pb-4">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <h5 class="title" style="color: #fff;">Resources</h5>
                        <p class="description" style="color: #fff;">
                            Are you in search of relevant, mobile, self paced and personalized content? This need is fulfilled here; where students can learn at their own comfort and requirement. So, what are you waiting for?
                        </p>
                    </div>
                </div>

                <div class="row">
                <%if(resources.length!=0){
				for(var i=0; i<resources.length; i++) { %>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="card blog__card" style="padding: 16px;">
                            <h6 class="title"><%=resources[i].name%></h6>
                            <span class="event_date"><%= resources[i].category%></span>
                            <p class="description">
                      			<%=resources[i].details.slice(0,250)%>...
                            </p>
                            <a class="btn-more text-center" href="/resources/view/<%= resources[i]._id%>">See More</a>
                        </div>
                    </div>
                    <%}} else{ %>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="card blog__card" style="padding: 16px;">
                            <h6 class="title">No Resources!!</h6>
                            
                        </div>
                    </div>
                    <%}%>
                </div>

                <br>

                <!-- filter -->
                <div class="card p-3">
                    <div class="row">
                        
                        <div class="col-lg-6 col-sm-6 col-12">
                            <h6 class="title">Category</h6>
                            <form action="/resources" method="post">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="web" name="category[]">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Web Development
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="android" name="category[]">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Android Development
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="ml" name="category[]">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Machine Learning
                                    </label>
                                </div>
                              

                        </div>

                        <div class="col-lg-6 col-sm-6 col-12">
                            <h6 class="title">Type</h6>
                            
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="book" name="type[]">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Books
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="video" name="type[]">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Videos
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="article" name="type[]">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Articles
                                    </label>
                                </div>
                                
                            
                        </div>
                        <button class="row btn prime_btn" type ="submit">Apply Filter</button>
</form>



                    </div>
                </div>

            </div>
        </div>


<% include ../partials/footer %>

