<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/resources-favicon.jpg">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Resources</title>

	
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body >

	<!-- Start header Area -->
	<header id="header" style="padding: 0px; margin: 0px;">
		<div class="container box main-menu">
			<div class="row align-items-center justify-content-center d-flex ">
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active"><a href="index.html" style="font-size: 16px;">Home</a></li>
						<li><a href="category.html" style="font-size: 16px;">BLOGS</a></li>
						<li><a href="archive.html" style="font-size: 16px;">RESOURCES</a></li>
						<li class="menu-has-children"><a href="" style="font-size: 16px; margin-left: 5px;">CONTESTS</a>
							<ul>
								<li><a href="elements.html" style="font-size: 16px;">Ongoing</a></li>
                                <li><a href="elements.html" style="font-size: 16px;">Upcoming</a></li>
							</ul>
                        </li>
						<li><a href="contact.html" style="font-size: 16px;">Contact</a></li>
                        <li><a href="contact.html" style="font-size: 16px;">Login</a></li>
                        <li><a href="contact.html" style="font-size: 16px;">Sign Up</a></li>
                        					<a href="#" class="search">
						<i class="lnr lnr-magnifier" id="search" style="padding-left: 10px;"></i></a>
					</ul>
				</nav>
			</div>
		</div>
		
		<div class="search_input" id="search_input_box">
			<div class="container box_1170">
				<form class="d-flex justify-content-between">
                    <div style="padding-top: 5px; padding-bottom: 5px;">
                    <input type="text" name="search" placeholder="Search here" class="" style="width: 500px; box-missing: border-box; border-radius: 10px; border-color: white; background-color: transparent; height: 35px; text-align: center; border-top-color: transparent; border-left-color: transparent; border-right-color: transparent;">
                    <input type="submit" value="Search" class="" style="margin-left: 20px; padding-left: 20px; padding-bottom: 5px;padding-top: 5px;padding-right: 20px; border-radius: 10px; background-color: white; font-size: 16px;">
                    </div>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>

	<div class="main-body section-gap">
			<div class="container-padding">
					<div class="container box_1170">
						<div class="row align-items-center justify-content-between">
							<div class="col-lg-6 col-md-6 col-sm-6" >
									<h1 style="color: #0e102b ">Resources</h1>
									<p></p>
									<p></p>
							</div>
						</div>
					</div>
				</div>
		<div class="container box_1170">
			<div class="row">
				
				<div class="col-lg-8 post-list">

					<section class="post-area">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="single-post-item">
									<div class="post-thumb">
										<img class="img-fluid" src="img/c1.jpg" alt="">
									</div>
									<div class="post-details">
										<h4><a href="#">Web Development</a></h4>
										<p>Web Dev</p>
										<div class="blog-meta">
											<a href="#" class="m-gap">By Joshep</a>
											<a href="#" class="m-gap"><span class="lnr lnr-bubble"></span>05</span></a>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-12">
								<nav class="blog-pagination justify-content-center d-flex">
									<ul class="pagination">
										<li class="page-item">
											<a href="#" class="page-link" aria-label="Previous">
												<span aria-hidden="true">
													<span class="lnr lnr-arrow-left"></span>
												</span>
											</a>
										</li>
										<li class="page-item"><a href="#" class="page-link">01</a></li>
										<li class="page-item"><a href="#" class="page-link">02</a></li>
										<li class="page-item"><a href="#" class="page-link">03</a></li>
										<li class="page-item"><a href="#" class="page-link">04</a></li>
										<li class="page-item"><a href="#" class="page-link">09</a></li>
										<li class="page-item">
											<a href="#" class="page-link" aria-label="Next">
												<span aria-hidden="true">
													<span class="lnr lnr-arrow-right"></span>
												</span>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</section>
				</div>

				<div class="col-lg-4 sidebar">

					<div class="single-widget popular-posts-widget">
						<div class="jq-tab-wrapper" id="horizontalTab">
							<div class="jq-tab-menu">
									
								<div class="jq-tab-title " data-tab="1" style="padding: 0px 25px 25px;">On Going</div>
								<div class="jq-tab-title" data-tab="2" style="padding: 0px 25px 25px; ">Up Coming</div>
							</div>
							<div class="jq-tab-content-wrapper">
								<div class="jq-tab-content active" data-tab="1">
									<div class="single-popular-post d-flex flex-row">
										<div class="popular-thumb">
											<img class="img-fluid" src="img/hackerrank.png" width="100px">
										</div>
										<div class="popular-details">
											<h6><a href="">ProjectEuler+</a></h6>
											<p>Wed, 31 Jul 2024 00:00</p>
										</div>
									</div>
									<div class="single-popular-post d-flex flex-row">
										<div class="popular-thumb">
											<img class="img-fluid" src="img/hackerearth.jpg" width="100px">
										</div>
										<div class="popular-details">
											<h6><a href="">2nd Gen Smoke Alarm <br>
													get up from sleep</a></h6>
											<p>September 14, 2018</p>
										</div>
									</div>
								</div>

								<div class="jq-tab-content active" data-tab="2">

									<div class="single-popular-post d-flex flex-row">
										<div class="popular-thumb">
											<img class="img-fluid" src="img/posts/carousel/stories2.jpg" alt="">
										</div>
										<div class="popular-details">
											<h6><a href="">2nd Gen Smoke Alarm <br>
													get up from sleep</a></h6>
											<p>September 14, 2018</p>
										</div>
									</div>
									<div class="single-popular-post d-flex flex-row">
										<div class="popular-thumb">
											<img class="img-fluid" src="img/posts/carousel/stories3.jpg" alt="">
										</div>
										<div class="popular-details">
											<h6><a href="">2nd Gen Smoke Alarm <br>
													get up from sleep</a></h6>
											<p>September 14, 2018</p>
										</div>
									</div>
								</div>
								
							</div>
							
						</div class="single-popular-post d-flex flex-row">
						<div class="popular-details">
								<button type="button" class="btn btn-default btn-xs btn-dark">View All...</button>

						</div>
						
								
							
					</div>

					<div class="single-widget category-widget">
						<h4 class="title">Categories</h4>
						<ul>
							<li>
								<a href="#" class="justify-content-between align-items-center d-flex">
									<p><label><input type="checkbox" value="" style="margin-right: 30px;">Web Development</label></p>
								</a>
							</li>
							<li>
								<a href="#" class="justify-content-between align-items-center d-flex">
									<p><label><input type="checkbox" value="" style="margin-right: 30px;">Android Development</label></p>
								</a>
							</li>
							<li>
								<a href="#" class="justify-content-between align-items-center d-flex">
									<p><label><input type="checkbox" value="" style="margin-right: 30px;">Python</label></p>
								</a>
							</li>
							<li>
								<a href="#" class="justify-content-between align-items-center d-flex">
									<p><label><input type="checkbox" value="" style="margin-right: 30px;">Java</label></p>
								</a>
							</li>
							<li>
								<a href="#" class="justify-content-between align-items-center d-flex">
									<p><label><input type="checkbox" value="" style="margin-right: 30px;">C</label></p>
								</a>
							</li>
							<li>
								<a href="#" class="justify-content-between align-items-center d-flex">
									<p><label><input type="checkbox" value="" style="margin-right: 30px;">C++</label></p>
								</a>
							</li>
							<button type="button" class="btn btn-default btn-xs btn-dark">Submit</button>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer-area ">
				<div class="footer-copyright text-center py-3">
					<p class="col-lg-12 footer-text text-center">Copyright &copy; All rights reserved | Designed with  🧡 by <a href="https://www.linkedin.com/in/mayanksh99/" target="_blank">Mayank</a>
					</p>
				</div>
			</div>
		</footer>

	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="js/easing.min.js"></script>
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.tabs.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/waypoints.min.js"></script>
	<script src="js/mail-script.js"></script>
	<script src="js/main.js"></script>
</body>

</html>